html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.game__container {
  margin-top: 80px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  column-gap: 50px;
  /* flex-direction: column; */
}
.game__inner-row {
  display: flex;
}

.game__inner-box {
  width: 50px;
  height: 50px;

  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: 1px solid #ccc;
}

.active-box {
  background-color: aqua;
}
.fixed-box {
  background-color: orange;
}

.game__menu-title {
  margin-bottom: 15px;

}
.game__menu-score {
  font-size: 25px;
  margin-bottom: 15px;
}
.game__menu-move {
  font-size: 20px;
  margin-bottom: 15px;
}
.game__menu-win {
  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  border: 1px solid blue;
}