html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.game__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game__inner-row {
  display: flex;
}

.game__inner-box {
  /* display: flex; */
}