*{
  margin: 0;
  padding: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: 'Playwrite';
  src: url('fonts/Playwrite-degrund.woff2') format("woff2"),
       url('fonts/Playwrite-degrund.woff') format('woff'),
       url('fonts/Playwrite-degrund.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Playwrite', serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.game__container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.game__score {
  padding: 15px;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-right: 3px solid #ccc;
  opacity: 0.9;
}

.game__score-title {
  margin-bottom: 20px;
}
.game__score-last {
  width: 70px;
}
.game__score-last div {
  display: flex;
  justify-content: space-between;
}



.game__inner {
  border: 3px solid #ccc
}
.game__inner-row {
  display: flex;
}

.game__inner-box {
  width: 50px;
  height: 50px;
  text-align: center;

  border: 1px solid #ccc;
}
.game__inner-box:nth-child(3),
.game__inner-box:nth-child(6){
  border-right: 6px solid #ccc;
}
.game__inner-row:nth-child(3) .game__inner-box,
.game__inner-row:nth-child(6) .game__inner-box {
  border-bottom: 6px solid #ccc;
}

.active-box {
  background-color: #d4fff7;
  outline: none;
}
.fixed-box {
  color: #fff;
  background-color: #380c87;
}
.win-box {
  background-color: #4caf50;
  border: 1px solid #0a530d;
}

.game__menu-title {
  margin-bottom: 15px;
}
.game__menu-score {
  font-size: 20px;
  margin-bottom: 10px;
}
.game__menu-move {
  font-size: 20px;
  margin-bottom: 30px;
}
.game__menu-end {
  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  border: 1px solid #000;
  background-color: #d4fff7;
  margin-bottom: 15px;
}
.game__menu-end--active {
  background-color: #b9ff68;
}
.game__menu-end--count {
  padding: 10px;
  margin-bottom: 15px;
  color: #b9ff68;
  background-color: #000;
  display:none;
}
.game__menu-end--score {
  padding: 10px;
  color: #b9ff68;
  background-color: #000;
  display:none;
}
.game__menu-end--count span {
  padding-left: 10px;
}
.game__menu-end--score span {
  padding-left: 10px;
}

.game__option {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.game__option-new {
  margin: 10px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #4caf50;
  cursor: pointer;
}

.game__option-new:hover {
  background-color: #45a049;
}











.footer {
  display: flex;
  justify-content: center;
}
.footer-inner {
  background-color: #d4fff7;

  border: 2px solid #ccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);

  padding: 10px 15px;

  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
}
.footer-inner__information {
  display: flex;
  align-items: center;
}
.footer-inner__information-link {
  padding-right: 20px;
}
.footer-inner__github-img {
  width: 50px;
  height: 50px;
}
.footer-inner__school-img {
  width: 45px;
  height: 45px;
}